    

body {
    background-image: url('../../../assets/hdwallpapers.jpg');
    background-size: 100% 100%;
   
 } 
  

.top{
    width: 100%;
    
     background-color: black; 
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.logo{
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background:#ffeba7;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.6s;

}

.navbar ul li:hover::after{
    width: 100%;
}
