<!-- 
<body>
    <li><a routerLink="login">Register</a> -->
     <!-- <div class="top">
        <div class="navbar">
            <a href="#" class="logo">APSI</a>
            <ul>
                <li><a routerLink="home2">Home</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a routerLink="login">Register</a>
                <li><a routerLink="register">Register</a></li>
            </ul>
        </div>
    </div> -->
<!-- 
    <app-login>

    </app-login> -->

    <router-outlet>

    </router-outlet>

<!-- </body> -->

    
    