
<body>
    <div class="top">
       <div class="navbar">
           <a href="#" class="logo">APSI</a>
           <ul>
               <li><a routerLink="/main">Home</a></li>
               <li><a routerLink="/about">About us</a></li>
               <li><a routerLink="/contact">Contact us</a></li>
               <li><a routerLink="/schemeadd">Add scheme </a>
               <li><a routerLink="">Log out</a></li>
           </ul>
       </div>
   </div>
 <div class="content">
    <h1>AP Scheme info</h1>
    <div>
        <button routerLink="/schemeschat"><span></span>Admin</button>
        <button routerLink="/chat"><span></span> Chat</button>
    </div>
    
   
    

</div> 
</body>

